@using SwapIt.Models
@model IEnumerable<SwapIt.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
    List<ApplicationUser> users = new List<ApplicationUser>();
    using (ApplicationDbContext db = new ApplicationDbContext())
    {
        users = db.Users.ToList();
    }
}

<table class="table table-hover table-striped">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Email
        </th>
    </tr>

    @foreach (var item in users)
    {
        <tr @*onclick="location.href = '@(Url.Action("Details", "AdModels", new { id = item.Id }))'"*@>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>
