@using SwapIt.Models
@model IEnumerable<SwapIt.Models.AdModel>

@{
    List<AdModel> item = new ApplicationDbContext().AdModels.ToList();
    ViewBag.Title = "Index";
    int i = 0;
}
<body>
   @{Html.RenderAction("Index", "AdModels");}
</body>

