@using SwapIt.Models
@model IEnumerable<SwapIt.Models.AdModel>

@{
    var item = new ApplicationDbContext().AdModels.ToList();
    ViewBag.Title = "Index";
    var i = 0;
}
<body>
@{ Html.RenderAction("Index", "AdModels"); }
</body>