-src/.vs
 -src/packages
 -src/*.sln
 -src/*.suo
 -src/SwapIt/bin
 -src/SwapIt/App_Data
 -src/SwapIt/App_Start
 -src/SwapIt/*.config
 -src/SwapIt/Scripts
 -src/*.txt
 -src/*csproj
 *.psd1
 *.psm1
 *.ps1