body {
    /*background-image: url("background.png");*/
    background-repeat: repeat;
    padding-bottom: 20px;
    padding-top: 50px;
    background-color: #F1EFA1;
}


/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.ad-area {
    -moz-box-sizing: content-box;
    -webkit-border-radius: 6px;
    -webkit-box-sizing: content-box;
    background-color: #FAC0A0;
    border-radius: 6px;
    box-sizing: content-box;
    cursor: pointer;
    font-family: roboto;
    height: 180px;
    margin: 5% 5% 5% 5%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.ad-name {
    color: #2E2C2C;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}

.ad-description { text-align: center; }

.ad-page {
    background-color: #FFFFFF;
}