body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ad-area {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 5% 5% 5% 5%;
    height: 180px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #f6f7b4;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(221,53,53,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(221,53,53,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

/*.ad-area {
  -webkit-text-decoration-color: black;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 30%;
  cursor: pointer;
  margin: 5% 3% 5% 3%;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgb(10,10,20);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #f6f7b4;
}*/