body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ad-area {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 5% 5% 5% 5%;
    height: 180px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
    background-color: #AFEE3E;
  background: #f6f7b4;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1) ;
}

.ad-name {
    text-align: center;
    font-family: verdana, sans-serif;
    color: #2E2C2C;
    font-size: 1.7em;
    font-weight: bold;
}

.ad-description {
    text-align: center;
    font-family: chicago, verdana, sans-serif;
}

.ad-owner {
    text-align: -webkit-right;
}